<div class="bg-image">
  <%= render 'navbar' %>
  <%= render 'hero' %>
  <div>
    <%= render 'spinner' %>
  </div>
  <div>
    <%= render 'project' %>
    <%= render 'skills' %>
    <%= render 'contact_us' %>
    <%= render 'footer' %>
  </div>
</div>
